@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

:root {
  --font-family: 'Monserrat', sans-serif;

  --gradient-text: white;
  --gradient-bar: linear-gradient();

  --color-bg:black;
  --color-footer: black;
  --color-blog: white;
  --color-text: blue;
  --color-subtext: red;

}