@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

:root {
  --font-family: 'Monserrat', sans-serif;

  --gradient-text: linear-gradient(90deg, #ff0000 0%, #afa7a7 100%);
  --gradient-bar: linear-gradient(120deg, #CC342D, 50%, #FFFFFF 70%);
  --gradient-section: linear-gradient(90deg, #FFFFFF 44%, #FFE4E4 86%, #FF6C6C 100%);
  --gradient-bg: linear-gradient(180deg, #ff7b7b 26%, #ffffff 100%);
  --gradient-section-text: linear-gradient(103.22deg, #FFFFFF -13.86%, #F49867 99.55%), #FFFFFF;
  --gradient-text2: radial-gradient(circle at 50% 50%, rgba(233, 30, 99, 1) 0%, rgba(103, 58, 183, 1) 100%);

  --color-bg: white;
  --color-footer:red;
  --color-text: black;
  --color-subtext: red;

  --color-icon: linear-gradient(90deg, #FFFFFF 0%, #bcbcbc 100%);

}

html,body{
  overflow-x: hidden;
}